<!DOCTYPE html>
<html lang="es" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elearn - Cursos</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/style-cursos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <span>🤓</span>
        <span>Tus cursos</span>
        <span>📕</span>
    </div>

    <div class="space-grid">
        <div class="space-card">
            <div class="space-platform">Running on ZERO</div>
            <div class="space-title">Kokoro TTS</div>
            <img src="heart.svg" alt="Icon" class="space-icon">
            <div class="space-description">Now in 5 languages!</div>
            <div class="space-likes"><span>♡</span> 997</div>
            <div class="space-info">
                <div class="space-author"><img src="author1.svg" alt="Author"><span>hexgrad</span></div>1 day ago
            </div>
        </div>
        <div class="space-card">
            <div class="space-platform">Running on ZERO</div>
            <div class="space-title">TransPixar</div>
            <img src="cat.svg" alt="Icon" class="space-icon">
            <div class="space-description">https://huggingface.co/papers/2501.03006</div>
            <div class="space-likes"><span>♡</span> 157</div>
            <div class="space-info">
                <div class="space-author"><img src="author2.svg" alt="Author"><span>wileewang</span></div>9 days ago
            </div>
        </div>
        <div class="space-card">
            <div class="space-platform">Running on ZERO</div>
            <div class="space-title">FitDiT</div>
            <img src="target.svg" alt="Icon" class="space-icon">
            <div class="space-description">FitDiT is a high-fidelity virtual try-on model.</div>
            <div class="space-likes"><span>♡</span> 83</div>
            <div class="space-info">
                <div class="space-author"><img src="author3.svg" alt="Author"><span>BoyuanJiang</span></div>about 1 hour
                ago
            </div>
        </div>
        <div class="space-card">
            <div class="space-platform">Running on ZERO</div>
            <div class="space-title">ViTPose Transformers</div>
            <img src="bolt.svg" alt="Icon" class="space-icon">
            <div class="space-likes"><span>♡</span> 49</div>
            <div class="space-info">
                <div class="space-author"><img src="author4.svg" alt="Author"><span>hysts</span></div>3 days ago
            </div>
        </div>
        <div class="space-card">
            <div class="space-platform">Running</div>
            <div class="space-title">Llama 3.2 Reasoning WebGPU</div>
            <img src="brain.svg" alt="Icon" class="space-icon">
            <div class="space-description">Small and powerful reasoning LLM that runs in your browser</div>
            <div class="space-likes"><span>♡</span> 79</div>
            <div class="space-info">
                <div class="space-author"><img src="author5.svg" alt="Author"><span>webml-community</span></div>7 days
                ago
            </div>
        </div>
        <div class="space-card">
            <div class="space-platform">Running on L48S</div>
            <div class="space-title">SVFR Demo</div>
            <img src="stars.svg" alt="Icon" class="space-icon">
            <div class="space-description">Unified Framework for Generalized Video Face Restoration</div>
            <div class="space-likes"><span>♡</span> 55</div>
            <div class="space-info">
                <div class="space-author"><img src="author6.svg" alt="Author"><span>ffffiloni</span></div>about 15 hours
                ago
            </div>
        </div>
        <div class="space-card">
            <div class="space-platform">Running on ZERO</div>
            <div class="space-title">Sketch2TRELLIS</div>
            <img src="paintbrush.svg" alt="Icon" class="space-icon">
            <div class="space-description">3D generation from sketches with TRELLIS & sdxl</div>
            <div class="space-likes"><span>♡</span> 56</div>
            <div class="space-info">
                <div class="space-author"><img src="author7.svg" alt="Author"><span>linoyts</span></div>4 days ago
            </div>
        </div>
        <div class="space-card">
            <div class="space-platform">Running on ZERO</div>
            <div class="space-title">MatchAnything</div>
            <img src="building.svg" alt="Icon" class="space-icon">
            <div class="space-description"></div>
            <div class="space-likes"><span>♡</span> 60</div>
            <div class="space-info">
                <div class="space-author"><img src="author8.svg" alt="Author"><span>LittleFrog</span></div>about 7 hours
                ago
            </div>
        </div>
    </div>

</body>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

</html>